<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [class.odd]="oddNumbers"
            [ngStyle]="{
              backgroundColor: oddnumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let oddnumber of oddNumbers"
          >
            {{ oddnumber }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div>
      </ul>
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    </div>
  </div>
</div>

<div class="container">
  <button (click)="onChangeState()">Click me</button>
  <ul>
    <div *ngIf="selected">
      <li><p class="active">Hello</p></li>
    </div>
    <div *ngIf="!selected">
      <li><p>Oh lala</p></li>
    </div>
  </ul>
</div>
